@import url('https://fonts.googleapis.com/css2?family=Average&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Georama:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 5px; /* Rounded corners for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00cf11; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #00cf11; /* Color of the scrollbar thumb on hover */
  }